body {
  margin: 0;
  background-color: #FDF6E3;
  font-family: Muli, sans-serif;
}

h1, h2 {
  font-family: "Space Mono", monospace;
}

a {
  color: inherit;
  transition: 0.3s;
}

a:hover {
  color:#2aa198;
}

.sidebar { 
  background-color: #002B36;
  color: #FDF6E3;
  margin: 0;
  padding: 0px;
  width: 30%;
  height: 100%;
  position: fixed;
  overflow: auto;
  text-align: center;
}

.main {
  color: #002B36;
  margin-left: 30%;
  padding: 50px 50px;
  height: 100%;
}

.sidebar-content {
  padding: 50px;
}

.name {
  font-size: 3rem;
}

.role, .location  {
  line-height: 10px;
  font-weight: bold;
  font-size: 1.5rem;
}

i.fa {
  font-size: 1.5rem;
  padding: 10px;
  transition: 0.3s;
}

i.fa:hover {
  transform: scale(1.5);
  color:#2aa198;
}

hr.divider {
  border-top: 1px solid;
  margin-top:20px;
}

.sidebar-content h2, .summary, .education {
  text-align: left;
}

.summary {
  padding-left: 20px;
}

.update {
  font-size: .75rem;
}

/* main content */

.main ul {
  list-style: none;
}

.experience a {
  font-size: 1.5rem;
  font-weight: bold;
}

.company {
  padding-bottom: 30px;
}

.position, .interval {
  line-height: 10px;
}

.position {
  font-size: 1.25rem;
}

.details li::before {
  content: "\00BB  ";
}

/* responsive */

@media screen and (max-width: 1000px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .main {
    margin: 0;
  }
}